{% if this.theme.services_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#services">
        {{ 'Why trust us' |_ }}
    </a>
</li>
{% endif %}
{% if this.theme.wow_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#wow">
        {{ 'How does it work?' |_ }}
    </a>
</li>

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#products">
        {{ 'Our Products' |_ }}
    </a>
</li>

<!--li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="portfolio">
        {{ 'Portfolio' |_ }}
    </a>
</!li-->

{% endif %}
{% if this.theme.portfolio_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#features">
        {{ 'Portfolio' |_ }}
    </a>
</li>
{% endif %}
{% if this.theme.contact_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#contact">
        {{ 'Contact' |_ }}
    </a>
</li>
{% endif %}

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/nl">
        {{ 'nl' |_ }}
    </a>
</li>

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/en">
        {{ 'en' |_ }}
    </a>
</li>
