<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#features">
        {{ 'Features' |_ }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/medical">
        {{ 'Medical' |_ }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/gatesms">
        {{ 'GateSMS' |_ }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/">
        {{ 'Programmers 4U' |_ }}
    </a>
</li>
{% if this.theme.contact_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#contact">
        {{ 'Contact' |_ }}
    </a>
</li>
{% endif %}

<!--li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/nl">
        {{ 'nl' |_ }}
    </a>
</!li>

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/en">
        {{ 'en' |_ }}
    </a>
</li-->
