<nav id="mainNav"
    class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <div class="logo"><img src="{{ this.theme.site_logo | media }}"></div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% partial 'modules/nav-items.htm' %}
            </ul>
        </div>
    </div>
</nav>
