<section id="technology" class="technology">
	<div class="skew"></div>
    <div class="container">
    	<h2 class="text-center">
        	{{ this.theme.features_list_headline | raw |_ }}
		</h2>
		
		<div class="row">
			{% for key, feature in this.theme.features_list %}
			<div class="col-md-2">
			{% if feature.icon %}		    	
			    <img src="{{ feature.icon | media }}" alt="...">
			{% endif %}		   
		    </div>
			{% endfor %}
		</div>

    </div>
</section>

