
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: #fdcc52;
  background-color: #fdcc52;
  &:hover, &:focus, &:active, .active {
  	color: #fdcc52;
    background-color: transparent;
	}
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
  .max(@phone,{
    font-size: 9px;
    padding: 5px 5px;
  });
  .max(@tab,{
    font-size: 9px;
    padding: 5px 5px;
  });
}
