.carousel-wow {
	position: relative;
	padding-bottom: 80px;
	//width: 100%;
	height: 100%;
	margin-left: 40%;
	margin-right: auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	padding-top: 2%;
	.min(@phone, {
		padding-bottom: 0px;  
		//margin-left: 20px;	  
	});
}