section.contact {
	position: relative;
	padding-top: 20px;

	.photo {
		border-radius: 50%;
		max-width: 150px;
		min-width: 100px;
		max-height: 150px;
		min-height: 100px;
		position: relative;
	}

	.col-lg-6 {
		text-align: center;
		margin-top: 6%;
		p {
			margin: 0px;
			padding: 0px;
			font-size: 1.2rem;
		}	
	}

	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.skew{
		background-color: white;
		width: 100%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -50px;
			height: 95px;
		});
	}

	img {
		.min(@phone, {
			max-height: 80px;
		});
		.min(@tab, {
			max-height: 150px;
		});
		.min(@desktop, {
			max-height: 200px;
		});
		.min(@hd, {
			max-height: 350px;
		});
	}

	h2 {
		text-align: center;
		
			font-size: 30px;
			margin-top: 3%;
			margin-bottom: 25px;
			.min(@tab,{
				font-size: 45px;
			});
	}

	h2 i {
		color: #dd4b39;
	}

	ul.list-social {
	  margin-bottom: 0;
	}

	ul.list-social li a {
	  font-size: 40px;
	  line-height: 80px;
	  display: block;
	  width: 80px;
	  height: 80px;
	  color: white;
	  border-radius: 100%;
	}

	ul.list-social li.social-twitter a {
	  background-color: #1da1f2;
	}

	ul.list-social li.social-twitter a:hover {
	  background-color: #0d95e8;
	}

	ul.list-social li.social-facebook a {
	  background-color: #3b5998;
	}

	ul.list-social li.social-facebook a:hover {
	  background-color: #344e86;
	}

	ul.list-social li.social-google-plus a {
	  background-color: #dd4b39;
	}

	ul.list-social li.social-google-plus a:hover {
	  background-color: #d73925;
	}

	h5 {
		margin-top: 5%;
	}

	h6 {
		font-size: .8rem;
	}

}

