section.cta {
	position: relative;
	background: rgb(2,0,36);
	//background: linear-gradient(284deg, rgba(2,0,36,1) 0%, rgba(98,0,217,1) 0%, rgba(0,234,255,0.8477766106442577) 100%);
	background: linear-gradient(284deg, rgba(0,234,255,0.8477766106442577) 0%, rgba(98,0,217,1) 100%, rgba(2,0,36,1) 0%);
	color: white;
	width: 100%;

	padding-top: 6%;
	padding-bottom: 3%;
	
	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}   

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, 2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -45px;
			height: 90px;
		});
	}

	img {
		max-height: 320px;
		padding-bottom: 5%;
		margin-left: 40px;
		margin-top: -70px;
		position: relative;
		.min(@phone,{
			max-height: 100px;
			display: none;
		});
		.min(@tab,{
			max-height: 200px;
			display: none;
		});
		.min(@desktop,{
			max-height: 400px;
			display: block;
		});
		.min(@hd,{
			max-height: 450px;
			display: block;
		});
	}

	.cta-content {
	  	position: relative;
		z-index: 1;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	
	.col-lg-8 {
		.min(@phone,{
			padding-top: 0%;
		});
		.min(@tab,{
			padding-top: 0%;
		});
		.min(@desktop,{
			padding-top: 5%;
		});
		.min(@hd,{
			padding-top: 5%;
		});
	}	
}
