section.features {
	position: relative;
	background-color: rgb(244, 244, 244);
	//background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,55,121,1) 43%, rgba(0,234,255,0.8477766106442577) 100%);
	//background-image: url("../img/shutterstock_1069387751.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;

	//height: 100%;
  	padding-bottom: 7%;
	padding-top: 7%;

	.carousel {
		min-height: 350px;
		height: auto;
		//padding-top: 50px;
	}
	.carousel-control-prev-icon {
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	}

	.carousel-control-next-icon {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}

	.carousel-indicators {
		position: relative;
		margin-bottom: 5%;
		margin-top: 5%;

		li {
			background-color: black;
		}
	}

	.device-container {
		margin-bottom: 100px;
		.feature-item {
			max-width: 325px;
			margin: 0 auto;
		}
		.min(@desktop,{
			margin-bottom: 0;
		});
	}

	.feature-item {
	  padding-top: 50px;
	  padding-bottom: 50px;
	  text-align: center;
	  h3 {
		font-size: 30px;
	  }
	  i {
		font-size: 80px;
		display: block;
		margin-bottom: 15px;
		background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
		background: linear-gradient(to left, #7b4397, #dc2430);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  }
	}

	img {
		max-height: 200px;
		padding-bottom: 5%;
		//margin-left: 50%;
		margin: auto;
	}	
}
