footer {
    width: 101.5%;
    max-height: 100px;
    margin-top: 25px;
     padding: 25px 0;
    text-align: left;
    background: linear-gradient(284deg, rgba(2,0,36,1) 0%, rgba(98,0,217,1) 0%, rgba(0,234,255,0.8477766106442577) 100%);	
    
    p {
      font-size: 12px;
      margin: 0;
    }
}