.form {
	font-family: @font-family;
	text-align: center;
	//max-height: 250px;
	//max-width: 500px;
	//color: @primary-color;
	textarea {
		background-color: transparent;
		//border-color: @primary-color;
		border-style: solid;
		border-size: 1px;
		//font-family: @font-family;
		font-weight: 500;
		//color: @primary-color;
	}
	input[type=text] {
		background-color: transparent;
		//border-color: @primary-color;
		border-style: solid;
		border-size: 1px;
		//font-family: @font-family;
		font-weight: 500;
		//color: @primary-color;
	}
	button {
		min-width: 150px;	
	}
}
