section.gatesms {
	position: relative;
	background-color: transparent;
  
  	//padding-bottom: 3%;
	padding-top: 3%;
	#features {
		padding-top: 7%;
	}
	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -50px;
			height: 95px;
		});
	}

	#slide {
		img {
			max-width: 30%;
			margin-left: 50%;
			margin: auto;
			margin-top: 20px;
		}
	}

	.flip-card-front {
		img {
			max-width: 50%;
			margin-left: 50%;
			margin: auto;
			margin-top: 20px;
		}
	}

	.btn-outline {
		color: white;
		background-color: #fdcc52;
		border: 1px solid;
		border-color: #fdcc52;
		&:hover, &:focus, &:active, .active {
			color: #fdcc52;
			background-color: white;
		}
	}
	
	.row {
		padding: 15px;
		background-color: transparent;
	}

	.col-lg-6 {
		margin-bottom: 15px;
	}

	.card {
		.row{
			margin: 15px;
		}
		max-height: 400px;
		min-height: 400px;
		width: 100%;
	}

	h5 {
		font-size: 17px;
		margin-top: 0%;
		margin-bottom: 1%;
	}
	
	h2 {
		padding-bottom: 3%;	
		padding-top: 7%;	
	}
		
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  

	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	
	}
}
