header.masthead {
  	position: relative;
  	width: 100%;
  	color: #fefefe;
	//margin-top: -30px;
	  
	.container {
		position: absolute;
		top: 0px;
		//left: 5%;
		text-align: center;
		.min(1600px,{
			//left: 30%;
			//max-width: 100%;
		});
	}
	
	.btn-outline {
		color: #fdcc52;
		border: 1px solid;
		border-color: #fdcc52;
		background-color: transparent;
		&:hover, &:focus, &:active, .active {
			color: white;
			background-color: #fdcc52;
		}
	}

	.header-content {
		position: absolute;
		top: 0px;
		max-width: 100%;
		text-align: center;
		color: #fefefe;		
		z-index: 100;
		margin: auto;
		margin-left: 43%;		
		margin-top: -12%;

		.min(@phone,{
			margin-top: -15%;		
			margin-left: 38%;		
		});
		
		.min(@desktop, {
			margin-top: -15%;		
			margin-left: 43%;		
		});
		
		.min(@hd,{
			margin-top: -10%;		
			margin-left: 47%;		
		});

		h1 {
			font-size: 80px;
			font-weight: 300;
			.min(@phone, { 
				font-size: 16px;
			});
			.min(@tab, { 
				font-size: 30px;
			});
			.min(@desktop, { 
				font-size: 80px;
			});
			.min(@hd, { 
				font-size: 100px;
			});
		}
	}
		
	video {
    	//position: absolute;
		//top: 0;
		//left: 0;
		width: 101.5%;
		//height: 100%;
		overflow: hidden;
	}
}
