section.medical {
	position: relative;
	background-color: transparent;
  
  	//padding-bottom: 3%;
	padding-top: 3%;

	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.stars {
		display: inline-block;
	}

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -50px;
			height: 95px;
		});
	}

	.flip-card-front {
		img {
			max-width: 50%;
			margin-left: 50%;
			margin: auto;
			margin-top: 20px;
		}
	}

	.btn-outline {
		color: white;
		background-color: #fdcc52;
		border: 1px solid;
		border-color: #fdcc52;
		&:hover, &:focus, &:active, .active {
			color: #fdcc52;
			background-color: white;
		}
	}
	
	.row {
		padding: 15px;
		background-color: transparent;
	}
	
	h2 {
		padding-bottom: 3%;	
		padding-top: 7%;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
}
