#mainNav {
	border-color: rgba(34, 34, 34, 0.05);
	background-color: transparent;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	font-family: @font-family;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 18px;

	.max(@phone,{
		.navbar-nav {
			background-color:rgba(34, 34, 34, 0.637);
			text-align: center;
			//max-width: 320px;
			li > a {
				color: @menu-primary-color;
			}
		}
	});
	.max(@tab,{
		.navbar-nav {
			background-color: rgba(34, 34, 34, 0.637);
			text-align: center;
			li > a {
				color: @menu-primary-color;
			}
		}
	});

	.logo {
		//background-image: url('https://programmers4u.com/storage/app/media/logo%205b.png');
		//background-repeat: no-repeat;	
		img {	
			width: auto;
		.min(@phone,{
			max-height: 55px;
		});
		.min(@tab,{
			max-height: 65px;
		});
		.min(@desktop,{
			max-height: 75px;
		});
		.min(@hd,{
			max-height: 85px;
		});
		}
	}
	.navbar-brand {
		color: @menu-primary-color;
		font-family: @font-family;
		font-weight: 200;
		letter-spacing: 1px;
		&:hover, &:focus {
			color: @primary-color;
		}
    	color: fade(@menu-primary-color, 70%);
		&:hover, &:focus {
			color: @menu-primary-color;
		}
		.navbar-nav > li > a, .navbar-nav > li > a:focus {
			color: rgba(255, 255, 255, 0.7);
		}
	}
	.navbar-toggler {
		font-size: 18px;
		padding: 8px 10px;
		color: @menu-primary-color;
		.navbar-nav > li > a {
			font-size: 11px;
			font-family: @font-family;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	.min(@desktop,{
		.navbar-nav > li:nth-child(5){
			padding-left: 40px;
		}
	});

	.navbar-nav > li > {
		a.active {
			color: @menu-hover-primary-color !important;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}

		a { 
			color: white;
			&:focus {
				color: @menu-primary-color;
			}
			&:hover {
				color: #fdcc52;
			}		
		}

		.min(@tab,{
			border-color: transparent;
			background-color: transparent;
		});
	}
}

#mainNav.navbar-shrink {
	border-color: rgba(34, 34, 34, 0.1);
	background-color: white;
	.navbar-brand {
		color: @menu-primary-color;
		&:hover, &:focus {
			color: @menu-hover-primary-color;
		}
	}
	.navbar-nav {
		background-color: white;
	}
	.navbar-nav > li > a {
		color: @menu-primary-color;
		&:focus {
			color: @menu-primary-color;
		}
		&:hover, &:focus, &:hover {
			color: @menu-hover-primary-color;
		}
	}
}	