section.products {
	position: relative;
	background-color: transparent;
  
  	padding-bottom: 3%;
	padding-top: 7%;

	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -50px;
			height: 95px;
		});
	}

  	img {
		max-width: 100%;
		//padding-top: 0px;
		//margin-top: -15px;
		margin-left: 50%;
		margin: auto;
	}

	.row {
		padding: 0px 15px 15px 15px;
		background-color: transparent;
	}
	.row:nth-child(1) {
		max-height: 50%;
	}
	.row:nth-child(2) {
		min-height: 160px;
	}
	.row:nth-child(3) {
		margin: auto;		
	}
	
	h2 {
		padding-bottom: 3%;	
	}
	
	p {
		//font-size: 14px;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		text-align: center;
		width: 100%;
		font-size: 20px;
		//font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;		
		.min(@hd,{
			font-size: 25px;
		});
	}  
	.move-slide {
		animation-name: fly-cycle;
		animation-timing-function: steps(3);
		animation-iteration-count: 20;
		animation-duration: 2s;
		animation-delay: -0.5s;	
	}
	@keyframes fly-cycle {
		from {
			transform: translateX(0px);
		}
		to {
		transform: translateX(500px);
		} 
	}
	.filtrOn {
		filter: opacity(50%) grayscale(100%);
		box-shadow: none;		
	}
	.slide {
		background-color: transparent;
		min-height: 500px;
		max-height: 500px;

		.min(@phone, {
			margin-bottom: 25px;
		});
		.min(@desktop, {
			margin-bottom: 25px;
		});

		p {
			padding-left: 30px;
			padding-right: 30px;
		} 
		.row {
			.min(@phone, {
				max-height: 170px;
			});
			.min(@desktop, {
				max-height: 270px;
			});
		}
	}
	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	
	}
}
