
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Questrial&display=swap');
//@import 'font';

@phone: 320px;
@tab: 500px;
@desktop: 992px;
@hd: 1900px;

.min(@min; @rules){@media only screen and (min-width: @min){@rules();}};
.max(@max; @rules){@media only screen and (max-width: (@max - 1)){@rules();}};
.bw(@min; @max; @rules){@media only screen and (min-width: @min) and (max-width: (@max - 1)){@rules();}};

@primary-color: darkblue;
@menu-primary-color: darkblue;
@menu-hover-primary-color: #fdcc52;
@secondary-color: white;
@font-header: 'Lato', 'sans-serif';/*'Baloo Bhai', cursive;*/
@font-family: 'Lato', 'sans-serif';


@import 'nav';
@import 'masthead';
@import 'service';
@import 'wow';
@import 'features';
@import 'form';
@import 'technology';
@import 'contact';
@import 'button';
@import 'cta';
//@import 'timeline';

@import 'loader';
//@import 'wow2';
//@import 'carousel-wow';
@import 'review';
@import 'products';
@import 'gatesms';
@import 'medical';
@import 'flip-card';

@import 'sub-masthead';
@import 'footer';


#page-top {
    max-width: 98.5%;
}

.under-construction{
	color: white;
	font-size:80px;
	text-align: center;
	width: 100%;
	z-index: 1;
	position: absolute;
	margin-top: -10%;
	margin-bottom: auto;
}

.parallax {
	/* Create the parallax scrolling effect */
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: @font-family;
}

a {
	color: #fdcc52;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	:hover, :focus {
		color: #fcbd20;
	}
}

hr {
	max-width: 100px;
	margin: 25px auto;
	border-width: 1px;
	padding-bottom: 2%;
	border-color: rgba(34, 34, 34, 0.1);
	.light {
		border-color: white;
	}  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-header;
  //font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@section-min-width-phone: 200px;
@section-min-width-tab: 400px;
@section-min-width-desktop: 500px;
@section-min-width-hd: 1920px;

@section-min-height-phone: 200px;
@section-min-height-tab: 300px;
@section-min-height-desktop: 500px;
@section-min-height-hd: 500px;

.container {
	.min(@hd,{
		//min-width: @section-min-width-hd;
	});	
}

header {
	.min(@phone, {
	    min-height: @section-min-height-phone;
	});
	.min(@tab, {
	    min-height: @section-min-height-tab;
	});
	.min(@desktop, {
	    min-height: @section-min-height-desktop;
	});
	.min(@hd, {
	    min-height: @section-min-height-hd;
	});
}

section {
	.min(@phone, {
	    min-height: @section-min-height-phone;
	});
	.min(@tab, {
	    min-height: @section-min-height-tab;
	});
	.min(@desktop, {
	    min-height: @section-min-height-desktop;
	});
	.min(@hd, {
	    min-height: @section-min-height-hd;
	});
	h2 {
		font-size: 50px;
	}
}

.bg-primary {
  background: #9dd7ff;
  background: -webkit-linear-gradient(#9dd7ff, #fdc539);
  background: linear-gradient(#9dd7ff, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.animated { visibility: visible !important; }
.anim-visible { visibility: visible !important; }
.anim-hide { visibility: hidden; }

/* SPECIFIC STYLES */
.typewriter {
	color: @primary-color;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	//border-right: .15em solid orange; /* The typwriter cursor */
	white-space: normal; /* Keeps the content on a single line */
	//margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 1s steps(30, end);
	  //blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange }
  } 