.review {
   //background-color: antiquewhite; 
   min-height: 200px;
   max-width: 400px;
   .max(@phone, {
      max-width: 100px;
   });
   
   .carousel {
      min-height: 200px;
      max-width: 400px;
      .max(@phone, {
         max-width: 100px;
      });
   }

   h4{
      font-weight: bold;
      font-size: 13px;
      //padding-left: 10px;
      //border-top: 1px solid @primary-color;
   }
   p{
      font-size: 13px;
      padding-top: 10px;
      padding-bottom: 10px;
   }

   img {
      display: inline-block;
      width: 12px;
      height: 12px;
   }

   .stars {
      //padding-left: 10px;
   }

}