section.services {
	position: relative;
	background-color: white;

	//padding-bottom: 3%;
	padding-top: 7%; 

	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -30px;
		.min(@hd, {
			top: -50px;
			height: 90px;
		});
	}

	.row {
		max-width: 100%;
		margin-left: 50%;
		margin: auto;
		padding-bottom: 25px;
		padding-top: 10px;
	}
	
	.col-lg-3{
		padding-left: 2%;
		padding-right: 2%;
		.min(@phone, {
			text-align: center;
		});
		.min(@tab, {
			text-align: center;
		});
	}

	.col-lg-9{
		.min(@phone, {
			text-align: center;
		});
		.min(@tab, {
			text-align: center;
		});
		.min(@desktop, {
			text-align: left;
		});
	}
	
	img {
		max-height: 65px;
		padding-bottom: 5%;
		margin-left: 50%;
		margin: auto;
	}
  
	h2 {
		padding-bottom: 3%;	
		font-size: 58px;		
	}
	
	p {
		//text-align: justify;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		font-size: 20px;
		//font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;
		word-wrap: normal;	
		.min(@hd,{
			font-size: 23px;
		});
	}  
}
