header.sub-masthead {
    position: relative;
    width: 100%;
    color: #fefefe;

    img {
        width: 101.5%;
        overflow: hidden;
        filter: brightness(0.7);      
    }
      
  .btn-outline {
      color: #fdcc52;
      border: 1px solid;
      border-color: #fdcc52;
      background-color: transparent;
      &:hover, &:focus, &:active, .active {
          color: white;
          background-color: #fdcc52;
      }
  }

  .header-content {
      text-align: center;
      color: #fefefe;		
      z-index: 100;

      max-width: 50%;
      margin-left: 25%;      
      margin: auto;

      .min(@phone,{
          margin-top: -45%;	
          display: none;
      });
      
      .min(@desktop, {
          margin-top: -43%;		
          display: block;
      });
      
      .min(@hd,{
          margin-top: -30%;		
          display: block;
      });

      h4 {
          color: white;
          padding-bottom: 35px;
      }

      h1 {
          font-size: 80px;
          font-weight: 300;
          .min(@phone, { 
              font-size: 16px;
          });
          .min(@tab, { 
              font-size: 30px;
          });
          .min(@desktop, { 
              font-size: 80px;
          });
          .min(@hd, { 
              font-size: 100px;
          });
      }
  }
      
}
