
section.technology {
  	position: relative;
	/* The image used */
	background: rgb(2,0,36);
	//background: linear-gradient(284deg, rgba(2,0,36,1) 0%, rgba(98,0,217,1) 0%, rgba(0,234,255,0.8477766106442577) 100%);	
	background: linear-gradient(284deg, rgba(0,234,255,0.8477766106442577) 0%, rgba(98,0,217,1) 100%, rgba(2,0,36,1) 0%);	

	width: 100%;
	/* Full height */
	//height: 100%; 
	//max-height: 200px;
  	//padding-bottom: 3%;
	padding-top: 6%;
	padding-bottom: 3%;
  
	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, 2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -45px;
			height: 90px;
		});
	}
	
	img {
		max-width: 70px;
		max-height: 70px;
		min-height: 70px;
	}
	
	.row {
		padding-bottom: 5%;
		.min(@phone,{
			padding-left: 15%;
		});
	}
	
	.col-md-2 {
		padding: 15px;
		text-align: center;
		max-width: 150px;
	}
		
	h2 {
		//padding-bottom: 3%;	
		color: white;
	}
	
	p {
		font-size: 14px;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		font-size: 23px;
		font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;		
		.min(@tab,{
			font-size: 20px;
		});
	}  
	
	.col {
		margin-bottom: 15px
	}

}
