/* ---- Timeline ---- */
.timeline {
		position: absolute;
		display: block;
		margin-top: 280px;
		height: 4px;
		background: #6200D9;
		width: 103%;
		margin-left: -30px;
		.min(@hd,{
			width: 63%;
		});
		div::before,
		div::after {
			content: "";
			position: absolute;
			top: -8px;
			display: block;
			width: 0;
			height: 0;
			border-radius: 10px;
			border: 10px solid #6200D9;
		}
		div::before {
			left: -5px;
		}
		div::after {
			right: -10px;
			border: 10px solid transparent;
			border-right: 0;
			border-left: 20px solid #6200D9;
			border-radius: 3px;
		}
}