section.wow {
	position: relative;
	background-color: transparent;
  
  	padding-bottom: 3%;
	padding-top: 7%;

	.container {
		z-index: 1;
		position: relative;
	}

	.skew{
		background-color: white;
		width: 101.5%;
		height: 50px;
		transform: skew(0deg, -2deg);
		position: absolute;
		top: -25px;
		.min(@hd, {
			top: -50px;
			height: 95px;
		});
	}

	.col-lg-4 {
		background-color: transparent;
		.min(@phone,{
			padding-bottom: 15px;
		});

		.min(@desktop,{
			padding-bottom: 0px;
		});
	}

  	img {
		max-height: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.row {
		padding: 15px 15px 0px 15px;
		background-color: transparent;
	}

	.col-lg-4 {
		padding-bottom: 15px;
	}
	
	h2 {
		padding-bottom: 3%;	
	}
	
	p {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		text-align: center;
		width: 100%;
		font-size: 20px;
		//font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;		
		.min(@hd,{
			font-size: 25px;
		});
	}  
	.right {
		background-image: url('../img/right.png');
		background-repeat: no-repeat;
		min-height: 40px;
		background-size: 40px;
		background-position-x: 0px;
		cursor: pointer;
	}
	.left {
		background-image: url('../img/left.png');
		background-repeat: no-repeat;
		min-height: 40px;
		background-size: 40px;
		background-position-x: 480px;
		cursor: pointer;
		.min(@hd,{
			background-position-x: 680px;
		});
	}

	.move-slide {
		animation-name: fly-cycle;
		animation-timing-function: steps(3);
		animation-iteration-count: 20;
		animation-duration: 2s;
		animation-delay: -0.5s;	
	}
	@keyframes fly-cycle {
		from {
			transform: translateX(0px);
		}
		to {
		transform: translateX(500px);
		} 
	}
	.filtrOn {
		filter: opacity(50%) grayscale(100%);
		box-shadow: none;		
	}
	.slide {
		background-color: transparent;
		min-height: 400px;
		max-height: 400px;
	}
	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	
	}
}
