section.wow2 {
	background: white;
	margin-left: auto;
	margin-right: auto;	
	.min(@phone,{
		max-width: 320px;
		min-height: 500px;
	});
	.min(@desktop,{
		//padding-top: 120px;
		max-width: 1366px;
		min-height: 500px;
	});
	.min(@hd, {
		//padding-top: 180px;
		max-width: 1920px;
		min-height: 900px;
	});
	
	.container {
		z-index: 1;
		position: relative;
		//margin-top: -8%;
	}

	.skew{
		background-color: #fff;
		width: 100%;
		height: 100px;
		transform: skew(0deg,-1deg);
		position: relative;
		top: -10px;
		.min(@hd, {
			transform: skew(0deg,-1deg);
			top: -60px;
			height: 100px;
			width: 180%;
			margin-left: -500px;
		});
	}	


	i {
		cursor: pointer;
	}

	h1{
	  text-align: center;
	  //margin-bottom: 20px;
	  //margin-top: -5%;
	}
	h4 {
	  text-align: center;
	  //margin-bottom: 7%;
	}
	.carousel {
	  	padding-top: 180px;
	  	.min(@phone, {
		  	padding-top: 0px;
		})
	}
	.paginator {
		position: relative;
		margin-left: auto;
		margin-right: auto;		
		width: 100%;
		font-size: .7em;
		text-align: center;
		.min(@phone, {
		});
		.min(@desktop, {
			padding-top: 29%;
		});
		.min(@hd, {
			padding-top: 27%;
		});
	}	
	.right {
		background-image: url('../img/right.png');
		background-repeat: no-repeat;
		min-height: 40px;
		background-size: 40px;
		background-position-x: 50%;
		margin-top: 2%;
		cursor: pointer;
		position: relative;
		z-index: 5;
		top: -720%;
	}
	.left {
		background-image: url('../img/left.png');
		background-repeat: no-repeat;
		min-height: 40px;
		background-size: 40px;
		background-position-x: 50%;
		margin-top: 2%;
		cursor: pointer;
		.min(@hd,{
			background-position-x: 680px;
		});
	}
}
