@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
/*'Baloo Bhai', cursive;*/
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Lato', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 18px;
}
@media only screen and (max-width: 319px) {
  #mainNav .navbar-nav {
    background-color: rgba(34, 34, 34, 0.637);
    text-align: center;
  }
  #mainNav .navbar-nav li > a {
    color: darkblue;
  }
}
@media only screen and (max-width: 499px) {
  #mainNav .navbar-nav {
    background-color: rgba(34, 34, 34, 0.637);
    text-align: center;
  }
  #mainNav .navbar-nav li > a {
    color: darkblue;
  }
}
#mainNav .logo img {
  width: auto;
}
@media only screen and (min-width: 320px) {
  #mainNav .logo img {
    max-height: 55px;
  }
}
@media only screen and (min-width: 500px) {
  #mainNav .logo img {
    max-height: 65px;
  }
}
@media only screen and (min-width: 992px) {
  #mainNav .logo img {
    max-height: 75px;
  }
}
@media only screen and (min-width: 1900px) {
  #mainNav .logo img {
    max-height: 85px;
  }
}
#mainNav .navbar-brand {
  color: darkblue;
  font-family: 'Lato', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: rgba(0, 0, 139, 0.7);
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: darkblue;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: darkblue;
}
#mainNav .navbar-brand .navbar-nav > li > a,
#mainNav .navbar-brand .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-toggler {
  font-size: 18px;
  padding: 8px 10px;
  color: darkblue;
}
#mainNav .navbar-toggler .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  #mainNav .navbar-nav > li:nth-child(5) {
    padding-left: 40px;
  }
}
#mainNav .navbar-nav > li a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li a {
  color: white;
}
#mainNav .navbar-nav > li a:focus {
  color: darkblue;
}
#mainNav .navbar-nav > li a:hover {
  color: #fdcc52;
}
@media only screen and (min-width: 500px) {
  #mainNav .navbar-nav > li {
    border-color: transparent;
    background-color: transparent;
  }
}
#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.1);
  background-color: white;
}
#mainNav.navbar-shrink .navbar-brand {
  color: darkblue;
}
#mainNav.navbar-shrink .navbar-brand:hover,
#mainNav.navbar-shrink .navbar-brand:focus {
  color: #fdcc52;
}
#mainNav.navbar-shrink .navbar-nav {
  background-color: white;
}
#mainNav.navbar-shrink .navbar-nav > li > a {
  color: darkblue;
}
#mainNav.navbar-shrink .navbar-nav > li > a:focus {
  color: darkblue;
}
#mainNav.navbar-shrink .navbar-nav > li > a:hover,
#mainNav.navbar-shrink .navbar-nav > li > a:focus,
#mainNav.navbar-shrink .navbar-nav > li > a:hover {
  color: #fdcc52;
}
header.masthead {
  position: relative;
  width: 100%;
  color: #fefefe;
}
header.masthead .container {
  position: absolute;
  top: 0px;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
}
header.masthead .btn-outline {
  color: #fdcc52;
  border: 1px solid;
  border-color: #fdcc52;
  background-color: transparent;
}
header.masthead .btn-outline:hover,
header.masthead .btn-outline:focus,
header.masthead .btn-outline:active,
header.masthead .btn-outline .active {
  color: white;
  background-color: #fdcc52;
}
header.masthead .header-content {
  position: absolute;
  top: 0px;
  max-width: 100%;
  text-align: center;
  color: #fefefe;
  z-index: 100;
  margin: auto;
  margin-left: 43%;
  margin-top: -12%;
}
@media only screen and (min-width: 320px) {
  header.masthead .header-content {
    margin-top: -15%;
    margin-left: 38%;
  }
}
@media only screen and (min-width: 992px) {
  header.masthead .header-content {
    margin-top: -15%;
    margin-left: 43%;
  }
}
@media only screen and (min-width: 1900px) {
  header.masthead .header-content {
    margin-top: -10%;
    margin-left: 47%;
  }
}
header.masthead .header-content h1 {
  font-size: 80px;
  font-weight: 300;
}
@media only screen and (min-width: 320px) {
  header.masthead .header-content h1 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 500px) {
  header.masthead .header-content h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  header.masthead .header-content h1 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 1900px) {
  header.masthead .header-content h1 {
    font-size: 100px;
  }
}
header.masthead video {
  width: 101.5%;
  overflow: hidden;
}
section.services {
  position: relative;
  background-color: white;
  padding-top: 7%;
}
section.services .container {
  z-index: 1;
  position: relative;
}
section.services .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -30px;
}
@media only screen and (min-width: 1900px) {
  section.services .skew {
    top: -50px;
    height: 90px;
  }
}
section.services .row {
  max-width: 100%;
  margin-left: 50%;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}
section.services .col-lg-3 {
  padding-left: 2%;
  padding-right: 2%;
}
@media only screen and (min-width: 320px) {
  section.services .col-lg-3 {
    text-align: center;
  }
}
@media only screen and (min-width: 500px) {
  section.services .col-lg-3 {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) {
  section.services .col-lg-9 {
    text-align: center;
  }
}
@media only screen and (min-width: 500px) {
  section.services .col-lg-9 {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  section.services .col-lg-9 {
    text-align: left;
  }
}
section.services img {
  max-height: 65px;
  padding-bottom: 5%;
  margin-left: 50%;
  margin: auto;
}
section.services h2 {
  padding-bottom: 3%;
  font-size: 58px;
}
section.services h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.services h1 {
    font-size: 50px;
  }
}
section.services h5 {
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 5%;
  word-wrap: normal;
}
@media only screen and (min-width: 1900px) {
  section.services h5 {
    font-size: 23px;
  }
}
section.wow {
  position: relative;
  background-color: transparent;
  padding-bottom: 3%;
  padding-top: 7%;
}
section.wow .container {
  z-index: 1;
  position: relative;
}
section.wow .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.wow .skew {
    top: -50px;
    height: 95px;
  }
}
section.wow .col-lg-4 {
  background-color: transparent;
}
@media only screen and (min-width: 320px) {
  section.wow .col-lg-4 {
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  section.wow .col-lg-4 {
    padding-bottom: 0px;
  }
}
section.wow img {
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
section.wow .row {
  padding: 15px 15px 0px 15px;
  background-color: transparent;
}
section.wow .col-lg-4 {
  padding-bottom: 15px;
}
section.wow h2 {
  padding-bottom: 3%;
}
section.wow p {
  padding-left: 25px;
  padding-right: 25px;
}
section.wow h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.wow h1 {
    font-size: 50px;
  }
}
section.wow h5 {
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 1900px) {
  section.wow h5 {
    font-size: 25px;
  }
}
section.wow .right {
  background-image: url('../img/right.png');
  background-repeat: no-repeat;
  min-height: 40px;
  background-size: 40px;
  background-position-x: 0px;
  cursor: pointer;
}
section.wow .left {
  background-image: url('../img/left.png');
  background-repeat: no-repeat;
  min-height: 40px;
  background-size: 40px;
  background-position-x: 480px;
  cursor: pointer;
}
@media only screen and (min-width: 1900px) {
  section.wow .left {
    background-position-x: 680px;
  }
}
section.wow .move-slide {
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: 20;
  animation-duration: 2s;
  animation-delay: -0.5s;
}
@keyframes fly-cycle {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
section.wow .filtrOn {
  filter: opacity(50%) grayscale(100%);
  box-shadow: none;
}
section.wow .slide {
  background-color: transparent;
  min-height: 400px;
  max-height: 400px;
}
section.wow .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.features {
  position: relative;
  background-color: #f4f4f4;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 7%;
  padding-top: 7%;
}
section.features .carousel {
  min-height: 350px;
  height: auto;
}
section.features .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
section.features .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
section.features .carousel-indicators {
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
}
section.features .carousel-indicators li {
  background-color: black;
}
section.features .device-container {
  margin-bottom: 100px;
}
section.features .device-container .feature-item {
  max-width: 325px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.features img {
  max-height: 200px;
  padding-bottom: 5%;
  margin: auto;
}
.form {
  font-family: 'Lato', 'sans-serif';
  text-align: center;
}
.form textarea {
  background-color: transparent;
  border-style: solid;
  border-size: 1px;
  font-weight: 500;
}
.form input[type=text] {
  background-color: transparent;
  border-style: solid;
  border-size: 1px;
  font-weight: 500;
}
.form button {
  min-width: 150px;
}
section.technology {
  position: relative;
  /* The image used */
  background: #020024;
  background: linear-gradient(284deg, rgba(0, 234, 255, 0.84777661) 0%, #6200d9 100%, #020024 0%);
  width: 100%;
  /* Full height */
  padding-top: 6%;
  padding-bottom: 3%;
}
section.technology .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, 2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.technology .skew {
    top: -45px;
    height: 90px;
  }
}
section.technology img {
  max-width: 70px;
  max-height: 70px;
  min-height: 70px;
}
section.technology .row {
  padding-bottom: 5%;
}
@media only screen and (min-width: 320px) {
  section.technology .row {
    padding-left: 15%;
  }
}
section.technology .col-md-2 {
  padding: 15px;
  text-align: center;
  max-width: 150px;
}
section.technology h2 {
  color: white;
}
section.technology p {
  font-size: 14px;
}
section.technology h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.technology h1 {
    font-size: 50px;
  }
}
section.technology h5 {
  font-size: 23px;
  font-weight: 500;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.technology h5 {
    font-size: 20px;
  }
}
section.technology .col {
  margin-bottom: 15px;
}
section.contact {
  position: relative;
  padding-top: 20px;
}
section.contact .photo {
  border-radius: 50%;
  max-width: 150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
  position: relative;
}
section.contact .col-lg-6 {
  text-align: center;
  margin-top: 6%;
}
section.contact .col-lg-6 p {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
}
section.contact .container {
  z-index: 1;
  position: relative;
}
section.contact .skew {
  background-color: white;
  width: 100%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.contact .skew {
    top: -50px;
    height: 95px;
  }
}
@media only screen and (min-width: 320px) {
  section.contact img {
    max-height: 80px;
  }
}
@media only screen and (min-width: 500px) {
  section.contact img {
    max-height: 150px;
  }
}
@media only screen and (min-width: 992px) {
  section.contact img {
    max-height: 200px;
  }
}
@media only screen and (min-width: 1900px) {
  section.contact img {
    max-height: 350px;
  }
}
section.contact h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  margin-bottom: 25px;
}
@media only screen and (min-width: 500px) {
  section.contact h2 {
    font-size: 45px;
  }
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
section.contact h5 {
  margin-top: 5%;
}
section.contact h6 {
  font-size: 0.8rem;
}
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: #fdcc52;
  background-color: #fdcc52;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline .active {
  color: #fdcc52;
  background-color: transparent;
}
.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
@media only screen and (max-width: 319px) {
  .btn-xl {
    font-size: 9px;
    padding: 5px 5px;
  }
}
@media only screen and (max-width: 499px) {
  .btn-xl {
    font-size: 9px;
    padding: 5px 5px;
  }
}
section.cta {
  position: relative;
  background: #020024;
  background: linear-gradient(284deg, rgba(0, 234, 255, 0.84777661) 0%, #6200d9 100%, #020024 0%);
  color: white;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 3%;
}
section.cta .container {
  z-index: 1;
  position: relative;
}
section.cta .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, 2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.cta .skew {
    top: -45px;
    height: 90px;
  }
}
section.cta img {
  max-height: 320px;
  padding-bottom: 5%;
  margin-left: 40px;
  margin-top: -70px;
  position: relative;
}
@media only screen and (min-width: 320px) {
  section.cta img {
    max-height: 100px;
    display: none;
  }
}
@media only screen and (min-width: 500px) {
  section.cta img {
    max-height: 200px;
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  section.cta img {
    max-height: 400px;
    display: block;
  }
}
@media only screen and (min-width: 1900px) {
  section.cta img {
    max-height: 450px;
    display: block;
  }
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
  padding-top: 3%;
  padding-bottom: 3%;
}
@media only screen and (min-width: 320px) {
  section.cta .col-lg-8 {
    padding-top: 0%;
  }
}
@media only screen and (min-width: 500px) {
  section.cta .col-lg-8 {
    padding-top: 0%;
  }
}
@media only screen and (min-width: 992px) {
  section.cta .col-lg-8 {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 1900px) {
  section.cta .col-lg-8 {
    padding-top: 5%;
  }
}
.loader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 200%;
  z-index: 1000000;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 25%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
/* ----------------     KEYFRAMES    ----------------- */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.review {
  min-height: 200px;
  max-width: 400px;
}
@media only screen and (max-width: 319px) {
  .review {
    max-width: 100px;
  }
}
.review .carousel {
  min-height: 200px;
  max-width: 400px;
}
@media only screen and (max-width: 319px) {
  .review .carousel {
    max-width: 100px;
  }
}
.review h4 {
  font-weight: bold;
  font-size: 13px;
}
.review p {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.review img {
  display: inline-block;
  width: 12px;
  height: 12px;
}
section.products {
  position: relative;
  background-color: transparent;
  padding-bottom: 3%;
  padding-top: 7%;
}
section.products .container {
  z-index: 1;
  position: relative;
}
section.products .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.products .skew {
    top: -50px;
    height: 95px;
  }
}
section.products img {
  max-width: 100%;
  margin-left: 50%;
  margin: auto;
}
section.products .row {
  padding: 0px 15px 15px 15px;
  background-color: transparent;
}
section.products .row:nth-child(1) {
  max-height: 50%;
}
section.products .row:nth-child(2) {
  min-height: 160px;
}
section.products .row:nth-child(3) {
  margin: auto;
}
section.products h2 {
  padding-bottom: 3%;
}
section.products h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.products h1 {
    font-size: 50px;
  }
}
section.products h5 {
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 1900px) {
  section.products h5 {
    font-size: 25px;
  }
}
section.products .move-slide {
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: 20;
  animation-duration: 2s;
  animation-delay: -0.5s;
}
@keyframes fly-cycle {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
section.products .filtrOn {
  filter: opacity(50%) grayscale(100%);
  box-shadow: none;
}
section.products .slide {
  background-color: transparent;
  min-height: 500px;
  max-height: 500px;
}
@media only screen and (min-width: 320px) {
  section.products .slide {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 992px) {
  section.products .slide {
    margin-bottom: 25px;
  }
}
section.products .slide p {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: 320px) {
  section.products .slide .row {
    max-height: 170px;
  }
}
@media only screen and (min-width: 992px) {
  section.products .slide .row {
    max-height: 270px;
  }
}
section.products .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.gatesms {
  position: relative;
  background-color: transparent;
  padding-top: 3%;
}
section.gatesms #features {
  padding-top: 7%;
}
section.gatesms .container {
  z-index: 1;
  position: relative;
}
section.gatesms .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.gatesms .skew {
    top: -50px;
    height: 95px;
  }
}
section.gatesms #slide img {
  max-width: 30%;
  margin-left: 50%;
  margin: auto;
  margin-top: 20px;
}
section.gatesms .flip-card-front img {
  max-width: 50%;
  margin-left: 50%;
  margin: auto;
  margin-top: 20px;
}
section.gatesms .btn-outline {
  color: white;
  background-color: #fdcc52;
  border: 1px solid;
  border-color: #fdcc52;
}
section.gatesms .btn-outline:hover,
section.gatesms .btn-outline:focus,
section.gatesms .btn-outline:active,
section.gatesms .btn-outline .active {
  color: #fdcc52;
  background-color: white;
}
section.gatesms .row {
  padding: 15px;
  background-color: transparent;
}
section.gatesms .col-lg-6 {
  margin-bottom: 15px;
}
section.gatesms .card {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
}
section.gatesms .card .row {
  margin: 15px;
}
section.gatesms h5 {
  font-size: 17px;
  margin-top: 0%;
  margin-bottom: 1%;
}
section.gatesms h2 {
  padding-bottom: 3%;
  padding-top: 7%;
}
section.gatesms h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.gatesms h1 {
    font-size: 50px;
  }
}
section.gatesms .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.medical {
  position: relative;
  background-color: transparent;
  padding-top: 3%;
}
section.medical .container {
  z-index: 1;
  position: relative;
}
section.medical .stars {
  display: inline-block;
}
section.medical .skew {
  background-color: white;
  width: 101.5%;
  height: 50px;
  transform: skew(0deg, -2deg);
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 1900px) {
  section.medical .skew {
    top: -50px;
    height: 95px;
  }
}
section.medical .flip-card-front img {
  max-width: 50%;
  margin-left: 50%;
  margin: auto;
  margin-top: 20px;
}
section.medical .btn-outline {
  color: white;
  background-color: #fdcc52;
  border: 1px solid;
  border-color: #fdcc52;
}
section.medical .btn-outline:hover,
section.medical .btn-outline:focus,
section.medical .btn-outline:active,
section.medical .btn-outline .active {
  color: #fdcc52;
  background-color: white;
}
section.medical .row {
  padding: 15px;
  background-color: transparent;
}
section.medical h2 {
  padding-bottom: 3%;
  padding-top: 7%;
}
section.medical h1 {
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 500px) {
  section.medical h1 {
    font-size: 50px;
  }
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  padding: 3%;
  margin-bottom: 5%;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}
/* Style the back side */
.flip-card-back {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.click {
  cursor: pointer;
}
header.sub-masthead {
  position: relative;
  width: 100%;
  color: #fefefe;
}
header.sub-masthead img {
  width: 101.5%;
  overflow: hidden;
  filter: brightness(0.7);
}
header.sub-masthead .btn-outline {
  color: #fdcc52;
  border: 1px solid;
  border-color: #fdcc52;
  background-color: transparent;
}
header.sub-masthead .btn-outline:hover,
header.sub-masthead .btn-outline:focus,
header.sub-masthead .btn-outline:active,
header.sub-masthead .btn-outline .active {
  color: white;
  background-color: #fdcc52;
}
header.sub-masthead .header-content {
  text-align: center;
  color: #fefefe;
  z-index: 100;
  max-width: 50%;
  margin-left: 25%;
  margin: auto;
}
@media only screen and (min-width: 320px) {
  header.sub-masthead .header-content {
    margin-top: -45%;
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  header.sub-masthead .header-content {
    margin-top: -43%;
    display: block;
  }
}
@media only screen and (min-width: 1900px) {
  header.sub-masthead .header-content {
    margin-top: -30%;
    display: block;
  }
}
header.sub-masthead .header-content h4 {
  color: white;
  padding-bottom: 35px;
}
header.sub-masthead .header-content h1 {
  font-size: 80px;
  font-weight: 300;
}
@media only screen and (min-width: 320px) {
  header.sub-masthead .header-content h1 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 500px) {
  header.sub-masthead .header-content h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  header.sub-masthead .header-content h1 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 1900px) {
  header.sub-masthead .header-content h1 {
    font-size: 100px;
  }
}
footer {
  width: 101.5%;
  max-height: 100px;
  margin-top: 25px;
  padding: 25px 0;
  text-align: left;
  background: linear-gradient(284deg, #020024 0%, #6200d9 0%, rgba(0, 234, 255, 0.84777661) 100%);
}
footer p {
  font-size: 12px;
  margin: 0;
}
#page-top {
  max-width: 98.5%;
}
.under-construction {
  color: white;
  font-size: 80px;
  text-align: center;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-top: -10%;
  margin-bottom: auto;
}
.parallax {
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'sans-serif';
}
a {
  color: #fdcc52;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a :hover,
a :focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto;
  border-width: 1px;
  padding-bottom: 2%;
  border-color: rgba(34, 34, 34, 0.1);
}
hr .light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'sans-serif';
  letter-spacing: 1px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1900px) {
}
@media only screen and (min-width: 320px) {
  header {
    min-height: 200px;
  }
}
@media only screen and (min-width: 500px) {
  header {
    min-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  header {
    min-height: 500px;
  }
}
@media only screen and (min-width: 1900px) {
  header {
    min-height: 500px;
  }
}
@media only screen and (min-width: 320px) {
  section {
    min-height: 200px;
  }
}
@media only screen and (min-width: 500px) {
  section {
    min-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  section {
    min-height: 500px;
  }
}
@media only screen and (min-width: 1900px) {
  section {
    min-height: 500px;
  }
}
section h2 {
  font-size: 50px;
}
.bg-primary {
  background: #9dd7ff;
  background: -webkit-linear-gradient(#9dd7ff, #fdc539);
  background: linear-gradient(#9dd7ff, #fdc539);
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.animated {
  visibility: visible !important;
}
.anim-visible {
  visibility: visible !important;
}
.anim-hide {
  visibility: hidden;
}
/* SPECIFIC STYLES */
.typewriter {
  color: darkblue;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: normal;
  /* Keeps the content on a single line */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 1s steps(30, end);
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
