description = "Default layout"

[alternateHrefLangElements]

[genericForm]
rules[email] = "required | email:rfc,dns"
rules_messages[email.required] = "Proszę podać kontakt."
messages_success = "Dziękuję za wiadomość"
messages_errors = "Wystąpiły probemy z wysłaniem wiadomości"
mail_enabled = 1
mail_recipients[] = "admin@gatesms.eu"
mail_resp_enabled = 1
reset_form = 1
inline_errors = "display"
sanitize_data = "htmlspecialchars"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">
    <link rel="icon" type="image/png" sizes="32x24" href="{{ 'assets/img/favicon.png' | theme }}">

    <title>{{ this.theme.site_title }}{% if this.page.title %} &#124; {{ this.page.title}}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}">
    <link href="{{ 'assets/css/animate.min.css' | theme }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ 'assets/css/programmers.min.css' | theme }}" rel="stylesheet">
    {% styles %}

</head>

<body id="page-top">

{% partial 'modules/loader' %}	
{% partial 'modules/nav' %}
{% page %}


<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jquery-easing/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/js/programmers_default.min.js' | theme }}"></script>
<script src="{{ 'assets/js/programmers.min.js' | theme }}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5e21113adaaca76c6fce711d/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
{% scripts %}
{% framework extras %}
</body>
</html>