<section id="contact" class="contact">
    <div class="skew"></div>
    <div class="container">
        <h2>{{ this.theme.contact_headline | raw |_ }}</h2>		
		<div class="row">
			<div class="col-lg-4">
                <div class="review">
                    <div id="carouselReviewControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for key, review in this.theme.review %}
                            <div class="carousel-item {% if key == 0 %} active {% endif %}">
                                <div class="stars">
                                {% for key in [1,2,3,4,5] %}
                                <img src="{{ 'assets/img/star.png' | theme }}" width="12" height="12">
                                {% endfor %}
                                </div>
                                <h4>{{ review.who }}</h4>
                                {{ review.text | raw }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        {% for person in this.theme.contact_rep %}
                        <div class="col-lg-6">
                            {% if person.avatar == null %}
                            <img src="{{ 'assets/img/img_avatar.png' | theme }}" alt="Avatar" class="photo">
                            {% else %}
                            <img src="{{ person.avatar | media }}" alt="Avatar" class="photo">
                            {% endif %}
                            <h5>{{ person.name }}</h5>
                            <h6>{{ person.position |_ }}</h6>
                            <p>{{ person.phone |_ }}</p>
                        </div>
                        {% endfor %}
                    </div>                    
                </div>
            </div>
			<div class="col-lg-1"></div>
			<div class="col-lg-7">
				<div class="form">{% component 'genericForm' %}</div>
			</div>
		</div>
		
    </div>
    
</section>
{% if this.theme.footer_menu %}    
	{% partial 'modules/footer.htm' %}
{% endif %}
