<section class="cta" id="cta">
	<div class="skew"></div>
    <div class="cta-content">
        <div class="container">
			<h2>{{ this.theme.cta_headline | raw |_  }}</h2>
			<div class="row">
				<div class="col-lg-8">
					{{ this.theme.cta_text | raw |_ }}
				</div>
				<div class="col-lg-4">
				{% if this.theme.cta_img %}
					<img src="{{ this.theme.cta_img | media }}"/>
				{% endif %}
				</div>
			</div>
        </div>
    </div>
</section>
