<section id="features" class="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>{{ this.theme.features_headline | raw |_ }}</h2>
            <h4 class="text-muted">{{ this.theme.features_subheadline |_ }}</h4>
        </div>
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    {% if this.theme.features_product %}
                        {% partial 'features/items' %}
                    {% else %}
                        {% partial 'features/dummy' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>