<header class="sub-masthead">
    <!-- The image -->
    <img src="{{ this.theme.gatesms_poster | media }}">
    <!--div class="container"-->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content">
                    <h1 class="mb-5">{{ this.theme.gatesms_headline | raw |_  }}</h1>
                    <h4 class="text-center">{{ this.theme.gatesms_subheadline | raw |_ }}</h4>

                    {% if this.theme.intro_button_link %}
                    <a href="{{ this.theme.intro_button_link }}" class="btn btn-outline btn-xl js-scroll-trigger">
                        {{ this.theme.intro_button | raw |_ }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </!--div-->
</header>
