<section class="gatesms" id="gatesms">
	<div class="skew"></div>
    <div class="container">
		<h2 class="text-center">{{ 'Two simultaneously working solutions' |_ }}</h2>
		<h4 class="text-center">{{ 'Once the solution is integrated with your system, you can switch between two solutions based on your current need.' |_ }}</h4>
		<hr>
		<div class="row">
			<div class="col-lg-6">
		  		<div id="slide" class="card shadow">
					<img src='{{ '/4U/ikony/077F9A - Gate SMS/Low budget solution.png' | media }}'>
					<div class="row">
						<h5>{{ 'Low budget solution:' |_ }}</h5>
						<ul>
							<li>
								{{ 'Small volumes (up to 300 messages per hour)' |_ }}
							</li>
							<li>
								{{ 'Sent from your own phone number' |_ }}
							</li>
							<li>
								{{ 'Replying option for receiver' |_ }}
							</li>
							<li>
								{{ 'Synchronised with every CRM' |_ }}
							</li>
							<li> <strong>
								{{ 'At your regular operator rates' |_ }}
								</strong>
							</li>
						</ul>
					</div>
			  	</div>
			</div>
			<div class="col-lg-6">
				<div id="slide" class="card shadow">
					<img src='{{ '/4U/ikony/077F9A - Gate SMS/Bigger scale solution.png' | media }}'>
				  	<div class="row">
					  <h5>{{ 'Bigger scale solution:' |_ }}</h5>
					  <ul>
						  <li>
							{{ 'Unlimited volumes' |_ }}
						  </li>
						  <li>
							{{ 'Customized sender name' |_ }}
						  </li>
						  <li>
							{{ 'Direct connections to operators around the world' |_ }}
						  </li>
						  <li>
							{{ 'In line with SS7 protocols' |_ }}
						  </li>
					  </ul>
				  </div>
				</div>
		  </div>

		</div>
		
		<h2 class="text-center" id='features'>{{ 'Features' |_ }}</h2>
		<hr>
		<div class="row">
			{% for key, feauture in this.theme.gatesms_feature %}
			<div class="col-lg-3">
				<div id="slide{{key}}" class="flip-card click " onclick="$(this).toggleClass('flip')">
					<div class="flip-card-inner">
					  	<div class="flip-card-front">
							<h5>{{feauture.title | raw |_}}</h5>
							{% if feauture.icon %}  
							<img src="{{ feauture.icon | media }}" alt="...">
							{% endif %}
						</div>
					  	<div class="flip-card-back">
							<h5>{{feauture.title | raw |_}}</h5>
							{{ feauture.text | raw |_ }}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>    
</section>
