<header class="masthead">
	<!-- The video -->
	<video loop muted autoplay poster="" >
		<source src="{{ this.theme.intro_img | media }}" type="video/mp4">
    </video>
    <!--div class="container"-->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content">
                    <h1 class="mb-5">{{ this.theme.intro_headline | raw |_  }}</h1>
                    {% if this.theme.intro_button_link %}
                    <a href="{{ this.theme.intro_button_link }}" class="btn btn-outline btn-xl js-scroll-trigger">
                        {{ this.theme.intro_button | raw |_ }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </!--div-->
</header>
