<section class="medical" id="medical">
	<div class="skew"></div>
    <div class="container">
		<div class="row">

			{% for key, review in this.theme.medical_review %}
			<div>
				<h4>
					<!--div class="stars">
						{% for key in [1,2,3,4,5] %}
							<img src="{{ 'assets/img/star.png' | theme }}" width="12" height="12">
						{% endfor %}
					</!div-->
					{{ review.who }}
				</h4>
				{{ review.text | raw }}
			</div>
			{% endfor %}
		</div>

		<h2 class="text-center" id='features'>{{ 'Features' |_ }}</h2>

		<div class="row">
			{% for key, feauture in this.theme.medical_rep %}
			<div class="col-lg-3">
				<div id="slide{{key}}" class="flip-card click " onclick="$(this).toggleClass('flip')">
					<div class="flip-card-inner">
					  	<div class="flip-card-front">
							<h5>{{feauture.title | raw |_}}</h5>
							{% if feauture.icon %}  
							<img src="{{ feauture.icon | media }}" alt="...">
							{% endif %}
					  	</div>
					  	<div class="flip-card-back">
							<h5>{{feauture.title | raw |_}}</h5>
							{{ feauture.text | raw |_ }}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>    
</section>
