<section class="products" id="products">
	<div class="skew"></div>
    <div class="container">
    	<h2 class="text-center">
        	{{ this.theme.products_headline | raw |_ }}
        </h2>
        <h4 class="text-muted text-center">{{ this.theme.products_subheadline | raw |_ }}</h4>
        <hr>

		<div class="row">
			{% for key, product in this.theme.products %}
			<div class="col-lg-6">
		  		<div id="slide{{key}}" class="card slide shadow">
					<div class="row">
					{% if product.image %}  
						<img src="{{ product.image | media }}" alt="...">
					{% endif %}
					</div>
					<div class="row">
						<h5>{{product.title | raw |_}}</h5>
						<p>{{ product.text | raw |_ }}</p>
					</div>
					<div class="row">
						<a href="{{product.link | raw}}" class="btn btn-outline">{{'Go' |_ }}</a>
					</div>
			  	</div>
			</div>
			{% endfor %}

		</div>
	</div>    
</section>
