==
function onStart() {
	$this['tr_code'] = [
		[
			'headline' => $this->theme->services_headline1, 
			'text' => $this->theme->services_content1,
			'img' => $this->theme->services_img1, 
		],
		[
			'headline' => $this->theme->services_headline2, 
			'text' => $this->theme->services_content2,
			'img' => $this->theme->services_img2, 
		],
		[
			'headline' => $this->theme->services_headline3, 
			'text' => $this->theme->services_content3,
			'img' => $this->theme->services_img3, 
		],
	];
}
==
<section class="services" id="services">
	<div class="skew"></div>
    <div class="container">		
		<h2 class="text-center">
			{{ this.theme.services_headline | raw |_ }}
		</h2>
		<h4 class="text-muted text-center">{{ this.theme.services_subheadline |_ }}</h4>
		<hr>
		
		<div class="row">
			{% for services in tr_code %}
		  	<div class="col-lg-4">
				<div class="row">
		  			<div class="col-lg-3">
					{% if services.img %}  
						<img src="{{ services.img | media }}" alt="...">
					{% endif %}
					</div>
					<div class="col-lg-9">
						<h5>{{ services.headline | raw |_ }}</h5>
						{{ services.text |_ }}
					</div>
				</div>
		  	</div>
			{% endfor %}
		</div>

	</div>    
</section>