<!-- The video -->
<video style="z-index: -10;width: 100%;" loop muted autoplay poster="" >
    <source src="{{ this.theme.intro_img | media }}" type="video/mp4">
</video>
<div class="under-construction">
    <h1>{{ 'UNDER CONSTRUCTION' |_ }}</h1>
</div>
    