==
function onStart() {
	$this['tr_code'] = [
		[
			'headline' => $this->theme->wow_headline1, 
			'text' => $this->theme->wow_content1,
			'img' => $this->theme->wow_img1, 
		],
		[
			'headline' => $this->theme->wow_headline2, 
			'text' => $this->theme->wow_content2,
			'img' => $this->theme->wow_img2, 
		],
		[
			'headline' => $this->theme->wow_headline3, 
			'text' => $this->theme->wow_content3,
			'img' => $this->theme->wow_img3, 
		],
		[
			'headline' => $this->theme->wow_headline4, 
			'text' => $this->theme->wow_content4,
			'img' => $this->theme->wow_img4, 
		],
		[
			'headline' => $this->theme->wow_headline5, 
			'text' => $this->theme->wow_content5,
			'img' => $this->theme->wow_img5, 
		],
		[
			'headline' => $this->theme->wow_headline6, 
			'text' => $this->theme->wow_content6,
			'img' => $this->theme->wow_img6, 
		],
	];
}
==
<section class="wow" id="wow">
	<div class="skew"></div>
    <div class="container">
    	<h2 class="text-center">
        	{{ this.theme.wow_headline | raw |_ }}
        </h2>
        <h4 class="text-muted text-center">{{ this.theme.wow_subheadline |_ }}</h4>
        <hr>
		
		<!--div class="row">
				<div class="col-lg-6"><div class="left" onclick="clickLeft(this)"></div></div>
				<div class="col-lg-6"><div class="right" onclick="clickRight(this)"></div></div>
		</div-->

		<div class="row">
			{% for key, wow in tr_code %}
			<div class="col-lg-4" onmouseover="wowOver({{key+1}})">
		  		<div id="slide{{key+1}}" class="card slide">
					<div class="row">
					{% if wow.img %}  
						<img src="{{ wow.img | media }}" alt="...">
					{% endif %}
					</div>
					<div class="row">
			      		<h5>{{ wow.headline | raw |_ }}</h5>
							{{ wow.text |_ }}
					</div>
			  	</div>
			</div>
			{% endfor %}
		</div> 

	</div>
</section>
