==
function onStart()
{
    $this['features_list'] = [
        [
            'head' => 'Joint analysis',
            'text' => 'We start every project from sitting together and thoroughly discussing all the details and then putting them on the project charter. From this point we take care of the rest.',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.1%20-%20Joint%20analysis.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.1%20-%20Joint%20analysis.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.1%20-%20Joint%20analysis.png',
        ],
        [
            'head' => 'Allocating tasks',
            'text' => 'Once we agree on what needs to be delivered, our project manager chooses the best suited developers and distributes the work amongst them.',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.2%20-%20Allocaing%20tasks.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.2%20-%20Allocaing%20tasks.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.2%20-%20Allocaing%20tasks.png',
        ],
        [
            'head' => 'Programming',
            'text' => 'Our developers are working to get the job done. In the meantime project manager ensures that the work is done according to the schedule. However, you can still check the progress whenever you want to.',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.3%20-%20programming.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.3%20-%20programming.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.3%20-%20programming.png',
        ],
        [
            'head' => 'Testing',
            'text' => 'Our testers ensure that everything works perfectly before being delivered to you',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.4%20-%20Testing.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.4%20-%20Testing.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.4%20-%20Testing.png',
        ],
        [
            'head' => 'Implementation',
            'text' => ' Once all the tests are positive, the work is implemented into your product.',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.5%20-%20Implementing.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.5%20-%20Implementing.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.5%20-%20Implementing.png',
        ],
        [
            'head' => 'Support',
            'text' => 'You can count on our support whenever needed.',
            'img1' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.6%20-%20Support.png',
            'img2' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.6%20-%20Support.png',
            'img3' => 'https://programmers4u.com/storage/app/media/4U/ikony/2.6%20-%20Support.png',
        ],
    ];
}
==
<section class="wow2" id="wow2">
    <div class="skew"></div>
    <div class="container">
        <h2 class="text-center">
            {{ this.theme.wow_headline | raw |_ }}
        </h2>
        <h4 class="text-muted text-center">{{ this.theme.wow_subheadline |_ }}</h4>
        <hr>
    
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel-wow">
                {% for key, measure in features_list %}
                    <div class="carousel-item{{key}}"></div>
                {% endfor %}
                </div>	            
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12">
        {% for key, measure in features_list %}
                <div class="carousel-content{{key}}">
                    <h4>{{ measure.head }}</h4>
                    {{ measure.text | raw }}
                </div>
        {% endfor %}
             </div>
        </div>        
        <div class="row">
            <div class="paginator">
                <div class="row">
                    <div class="col-sm-12 center">
                        {% for key, measure in features_list %}
                            <i onclick="if(carouselInterval)clearInterval(carouselInterval);setSlide(--carouselLoop);"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12"><div class="right" onclick="setSlide(--carouselLoop)"></div></div>
		</div>

    </div>
</section>
    
    <style>
    .animate-scale-1 {
        transform: scale(.2);
    }

    .animate-scale-2 {
        transform: scale(.05);
    }

    .animate-scale-3 {
        transform: scale(.04);
    }
    
    .skew-1 {
        transform: skew(5deg 5deg);
    }
    .skew-2 {
        transform: skew(-5deg 5deg);
    }

    .animate-blur {
        filter: blur(5px);
    }

    .shadow {
        filter:drop-shadow(8px 8px 10px gray);   
    }
    
    .sepia {
        filter:sepia(100%);
    }

    .animate-left {
        left: -25%;
    }
    
    .animate-position {
        margin-left: 25%;
    }
    
    {% for key, measure in features_list %}
    
    .carousel-content{{key}} {
        width: 500px;
        height: 100%;
        text-align: center;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: none;
        text-align: center;
        top: 250px;
        position: absolute;  
    }
    
    .carousel-item{{key}} {
        transition: all 1.5s;
        width: 200px;
        height: 200px;
        position: absolute;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;	
        background-size: 220px 220px;
        text-align: center;
        /*transform: scale(.5);*/
        /*margin-left: 25%;*/
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    {% if(key==0) %}
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
            /*width: 75%;*/
        }		
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}
    {% if(key==1) %}
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
                        /*width: 75%;*/

        }		
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}
    {% if(key==2) %}
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
                        /*width: 75%;*/

        }	
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}
    {% if(key==3) %}
    
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
                       /*width: 75%;*/

        }	
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}

    {% if(key==4) %}
    
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
                        /*width: 75%;*/

        }	
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}

    {% if(key==5) %}
    
    @media only screen and (min-width: 320px) and (max-width: 529px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img1 | raw }});
        }
        .carousel-content{{key}}{
                       /*width: 75%;*/

        }	
    }	
    @media only screen and (min-width: 950px) and (max-width: 1600px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img2 | raw }});
        }
    }	
    @media only screen and (min-width: 1920px) {
        .carousel-item{{key}} {
            background-image: url({{ measure.img3 | raw }});
            width: 384px;
            height: 384px;
        }
        .carousel-content{{key}}{
            top: 320px;
        }
    }	
    {% endif %}

    {% endfor %}
    </style>